<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>Тестовая работа</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="content">
				<div class="header">
					<div class="header__menu">
						<div class="logo">
							<a href="/"><img src='/images/logo.svg'></a>
						</div>
						<ul class="top__nav top__nav--hidden">
							<li><a href="/">Стримы</a></li>
							<li><a href="/">Видео</a></li>
							<li><a href="/">Форум</a></li>
							<li><a href="/">Турниры</a></li>
							<li><a href="/">Новости</a></li>
							<li><a href="/">Помощь</a></li>
						</ul>
						<div class="burger">
							<a href="/"><img src='/images/menu.svg'></a>
						</div>
						<div class="search">
							<img src='/images/search.svg'>
						</div>
					</div>
					<div class="header__info">
						<div class="profile__img">
							<img src='/images/avatar.png'>
						</div>
						<div class="account__name">F1bonacc1</div>
						<div class="chat">
							<img src='/images/chat.svg'>
						</div>
						<div class="favorites">
							<img src='/images/heart.svg'>
						</div>
						<div class="mail">
							<img src='/images/message.svg'>
						</div>
					</div>
				</div>
			