<div class="tab__content">
    <div class="tab__content--main">
        <h3 class="tab__content--main__title">Главное</h3>
        <div class="tab__content--main__text">Основная служебная информация профиля, необходимая для авторизации</div>
        <div class="tab__content--main__form">
            <div class="form__wrapper">
                <label class="label" for="login">Логин на сайте</label>
                <input class="input" name="login" placeholder="F1bonacc1">
            </div>
            <div class="form__wrapper">
                <label class="label" for="email">E-mail</label>
                <div class="eye__input">
                    <input class="input input__eye" name="email" placeholder="m*@g*">
                </div>
            </div>
            <div class="form__wrapper">
                <label class="label" for="time">Часовой пояс</label>
                <div class="arrow__input">
                    <input class="input" name="time" placeholder="Moscow (UTC +3)">
                </div>
            </div>
        </div>
        <div class="tab__content--main__button">
            <div class="button__wrapper">
                <button class="button button__submit" type="button">Сохранить изменения</button>
                <p class="button__done">Изменения сохранились</p>
            </div>
        </div>
    </div>
</div>