/* adaptive */
$big-notebook_width: 1600px;
$container-min_width: 1366px;
$laptop_width: 1192px;
$big-mobile-min_width: 768px;
$mobile_width: 380px;

/* fonts */
$OpenSans_Regular: OpenSans_Regular;
$OpenSans_SemiBold: OpenSans_SemiBold;


/* colors */
$black: #000;
$fff: #fff;
$color_73adff: #73adff;
$color_233056: #233056;
$color_0D1221: #0D1221;
$color_53709b: #53709b;
$color_171d30: #171d30;
$color_3a6097: #3a6097;
$color_greenRGBA: rgba(58, 151, 73, 0.24);
$color_3a9749: #3a9749;
$color_656871: #656871;

/* others */
$animate: opacity .8s cubic-bezier(.25,.46,.45,.94),transform .8s cubic-bezier(.25,.46,.45,.94);